body
{
    background-color: black;
}
h1
{
    color: #8E4CE9;
    font-size: 300%;
    font-style: italic;
    text-align: center;
    font-size: 3vw;	
}
td
{
    height: 60px; 
    width : 60px;
    font-size: 1vw;		 
}
table
{
    width : 100%;
}
img
{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}
.element
{
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold; 
}
.nonmetal
{
    background-color: #2874A6;
}
.noblegas
{
    background-color: #8E44AD;
}
.alkalimetal
{
    background-color: #E74C3C;
}
.Alkaline
{
    background-color: #F5B041;
}
.halogen
{
    background-color: #C39BD3;
}
.transitionmetal
{
    background-color: #F3F160;
}
.basicmetal
{
    background-color: #52BE80;
}
.semimetal
{
    background-color: #AED6F1;
}
.lanthanide
{
    background-color: #5AA8B3;
}
.actinide
{
    background-color: #6AD4C3;
}
.atomicnum
{
    font-size: 0.8vw;
    text-align: right;
}
.keytext
{
    text-align: center;
}
.elemnum
{
    font-size: 0.9vw;
    text-align: left;
}
.elenumber
{
    font-size: 0.8vw;
    text-align: center;
}